.content__aside {
    position: absolute;
    top: 0;
    right: -490px;
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 486px;
    min-height: 100vh;
    max-height: 100vh;
    background-color: var(--primary);
    box-shadow: -5px 0px 6px rgba(0, 0, 0, 0.13);
    transition: .4s;

    overflow-y: scroll;
    overflow-x: hidden;
}

.content__aside::-webkit-scrollbar {
    display: none;
}

.content__aside.active {
    right: 0;
}

.content__aside .content__title-toggle {
    margin: 36px 46px;
    width: 417px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content__aside .cart__logo {
    margin: auto;
}

.content__aside .content__title-toggle h1 {
    max-width: 180px;

    font-size: 27px;
    font-weight: 700;

    color: #fff;    
}

.content__aside .content__title-toggle button {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 38px;
    height: 38px;
    font-size: 20px;
    font-weight: 400;

    background-color: #000;
    color: #fff;
    border-radius: 50%;
    cursor: pointer;
}

.content__aside .content__total-purchase {
    margin-top: auto;
    width: 100%;
}

.content__aside .content__total-purchase .content__total {
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 28px;
    font-weight: 700;
    color: #fff;

    padding: 0 47px;
}

.content__aside .content__total-purchase button {
    width: 100%;
    height: 97px;
    font-size: 28px;
    font-weight: 700;
    
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    background-color: #000;
    color: #fff;
    margin-top: 42px;
}

@media (max-width: 1001px) {
    .content__aside {
    
        width: 486px;
        min-height: 100%;
    }
}

@media (max-width: 500px) {
    .content__aside {
        max-width: 370px;
    }

    .content__aside .content__title-toggle {
        width: 300px;
    }
}