.container {
    position: relative;
    display: grid;
    grid-template-rows: 101px minmax(calc(100vh - 101px - 34px), 1fr) 34px;
    grid-template-areas: 
    'HD'
    'BD' 
    'FT';

    overflow-x: hidden;
}