.content__footer {
    grid-area: FT;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #eee;
    padding: 9px 0;

    font-size: 12px;
    font-weight: 400;
}